.badge-info    { background-color: #51cbce; }
.badge-success { background-color: #6bd098; }
.badge-secondary { background-color: #aaa; }
.gap-2 { gap: 0.5rem; }

.card-header {
  .card-title {
    color: #fff !important;
  }
  .card-category {
    color: #fff !important;
  }
}
