<div class="icons-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="header-content">
      <h1>🎨 Bibliothèque d'Icônes</h1>
    </div>
    <button class="btn">
      <i class="tim-icons icon-single-02"></i> Copier le Nom
    </button>
  </div>

  <!-- Icons View -->
  <div class="row">
    <div class="col-md-12">
      <div class="icons-card">
        <div class="card-header">
          <h3 class="card-title">✨ Collection d'Icônes</h3>
          <p class="card-subtitle">Réalisés avec amour par nos amis de <a href="https://nucleoapp.com/?ref=1712" target="_blank">NucleoApp</a></p>
        </div>
        <div class="card-body">
          <div class="icons-grid">
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-alert-circle-exc"></i>
                <p>alert-circle-exc</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-align-center"></i>
                <p>align-center</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-align-left-2"></i>
                <p>align-left-2</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-app"></i>
                <p>app</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-atom"></i>
                <p>atom</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-attach-87"></i>
                <p>attach-87</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-badge"></i>
                <p>badge</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-bag-16"></i>
                <p>bag-16</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-bank"></i>
                <p>bank</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-basket-simple"></i>
                <p>basket-simple</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-bell-55"></i>
                <p>bell-55</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-bold"></i>
                <p>bold</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-book-bookmark"></i>
                <p>book-bookmark</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-double-right"></i>
                <p>double-right</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-bulb-63"></i>
                <p>bulb-63</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-bullet-list-67"></i>
                <p>bullet-list-67</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-bus-front-12"></i>
                <p>bus-front-12</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-button-power"></i>
                <p>button-power</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-camera-18"></i>
                <p>camera-18</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-calendar-60"></i>
                <p>calendar-60</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-caps-small"></i>
                <p>caps-small</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-cart"></i>
                <p>cart</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-chart-bar-32"></i>
                <p>chart-bar-32</p>
              </div>
            </div>
            <div class="font-icon-list">
              <div class="font-icon-detail">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p>chart-pie-36</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
