<div class="sidebar-header">
  <button class="sidebar-toggle-btn" (click)="toggleSidebar()" title="Masquer le menu">
    <i class="tim-icons icon-minimal-left"></i>
  </button>
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-img">
        <i class="tim-icons icon-calendar-60" style="font-size: 28px; color: #E31E24;"></i>
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
      EVENTLY
    </a>
  </div>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>

  <!-- Logout Button -->
  <div class="logout-wrapper">
    <button 
      (click)="logout()" 
      class="btn-logout"
    >
      <i class="tim-icons icon-bullet-list-67"></i> Logout
    </button>
  </div>
</div>

