.badge-warning  { background-color: #fbc658; color: #fff; }
.badge-info     { background-color: #51cbce; color: #fff; }
.badge-success  { background-color: #6bd098; color: #fff; }
.badge-danger   { background-color: #ef8157; color: #fff; }
.badge-secondary { background-color: #aaa; color: #fff; }
.gap-2 { gap: 0.5rem; }

.card-header {
  .card-title {
    color: #fff !important;
  }
  .card-category {
    color: #fff !important;
  }
}
